<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theatre DashBoard</title>
    <link rel="stylesheet" href="/css/theatredashboard/theatreschedule.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
   <script src="https://kit.fontawesome.com/3e893105a3.js"crossorigin="anonymous"></script>
   <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script> -->
  </head>
<body style="background-color: black;">
  

  <nav class="navbar navbar-expand-lg" style="background-color: #221f1f;font-size: 1.1rem;">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: flex;justify-content: space-between;">
              <div class="navbarlinks">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/tdashboard" style="color: gold;">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/tmdashboard" style="color: gold;">Movies</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href="/tsnackspage"style="color: gold;">Snacks</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href="/tschedule" style="color: gold;">Theatre</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="/usertheatreinfo" style="color: gold;">About Theatre</a>
                  </li>

                  </ul>
              </div>

              <div class="profile" style="margin-right: 5rem;">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 50%;color: gold;">
                           <img src="https://sambadenglish.com/wp-content/uploads/2021/03/s3.jpg" alt="" style="border-radius: 50%;width: 2.5rem;height: 2.5rem;border:1.5px solid gold">
                        </a>
                        <ul class="dropdown-menu" style="width: 2rem !important;">
                          <li><a class="dropdown-item" href="/tprofile">Profile</a></li>
                          <li><a class="dropdown-item" href="/tprofile/teditprofile">Edit Profile</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="/Tsignout">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>         
              </div>    
            </ul>        
          </div>
        </div>
      </nav>


      

 <!-- bootstrap modals starts -->

 <div class="modal fade" id="addshow" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #221f1f;">
          <h5 class="modal-title" id="exampleModalToggleLabel" style="color: gold;">Add Show</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color: gold;"><i class="fa-solid fa-xmark fa-2xl closebtn"></i></button>
        </div>
        <div class="modal-body">
            <div class="addshowform">
                <form action="/tschedule/addshow" method="post">
                   <div class="row">
                      <div class="col" style="display: flex;flex-direction: column;">
                         <p style="margin-bottom: 0.25rem;">Select screen</p>
                         <select name="selectscreen" id="selectscreen">
                           <%if(screeninfoarr.length==0){%>
                            <option value="No Screens Present">No Screens Present</option>
                           <%} else{%>
                            <%for(let i=0;i<screeninfoarr.length;i++){%>
                              <option value="<%=screeninfoarr[i]['screenname']%>"><%=screeninfoarr[i]['screenname']%></option>
                             <%}%>
                           <%}%>
                         
                        </select>
                      </div>
        
                      <div class="col" style="display: flex;flex-direction: column;">
                        <p style="margin-bottom: 0.25rem;">Movie</p>
                        <select name="selectmovie" class="selectmovie">
                          <%if(curractivemoviesinfo.length==0){%>
                            <option value="No Active Movies">No Active Movies</option>
                           <%} else{%>
                            <%for(let i=0;i<curractivemoviesinfo.length;i++){%>
                              <option value="<%=curractivemoviesinfo[i]['MovieName']%>"><%=curractivemoviesinfo[i]['MovieName']%></option>
                             <%}%>
                           <%}%>
                        </select>
                      </div>
                   </div>
        
                   <div class="row" style="margin-top: 2rem;">
                    <div class="col" style="display: flex;flex-direction: column;">
                        <p style="margin-bottom: 0.25rem;">Duration</p>
                        <input type="text" class="duration" name="duration" required/>           
                    </div>
        
                    <div class="col" style="display: flex;flex-direction: column;">
                        <p style="margin-bottom: 0.25rem;">Show time</p>
                         <div class="st" style="display: flex;">
                          <input type="text" class="showtime" name="showtime" required/>
                          <select name="ampm" id="ampm">
                            <option value="AM">AM</option>
                            <option value="PM">PM</option>
                          </select>
                         </div>
                    </div>
                 </div>

                 <div class="row" style="margin-top: 2rem;">
                  <div class="col price" style="display: flex;flex-direction: column;">
                      <p style="margin-bottom: 0.25rem;">Premium Class Price</p>
                      <input type="text" class="premiumclassprice" name="premiumclassprice" required />
                     
                  </div>
      
                  <div class="col price" style="display: flex;flex-direction: column;">
                      <p style="margin-bottom: 0.25rem;">Normal Class Price</p>
                      <input type="text" class="normalclassprice" name="normalclassprice" required/>
                  </div>

                 <div class="col fdate" style="display: flex;flex-direction: column;">
                    <p style="margin-bottom: 0.25rem;">From Date</p>
                    <input type="date" class="fromdate" name="fromdate" required/>
                </div>

               </div>

               <div class="row" style="margin-top: 2rem;">
                <div class="col tdate" style="display: flex;flex-direction: column;">
                    <p style="margin-bottom: 0.25rem;">To Date</p>
                    <input type="date" class="todate" name="todate" required/>
                </div>

                <!-- <div class="col" style="display: flex;flex-direction: column;">
                <p style="margin-bottom: 0.25rem;">Status</p>
                <select name="status" class="status">
                  <option value="Active">Active</option>
                  <option value="InActive">InActive</option>
                </select>
               
            </div> -->

             </div>

             <div style="display: flex;justify-content: center;">
              <button type="submit" class="btn btn-success" data-bs-toggle="modal" style="margin-top:1rem">
              Submit
              </button>
            </div>    
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="editshow" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #221f1f;">
          <h5 class="modal-title" id="exampleModalToggleLabel" style="color: gold;">Edit Show</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color: gold;"><i class="fa-solid fa-xmark fa-2xl closebtn"></i></button>
        </div>
        <div class="modal-body">
            <div class="editshowform addshowform">
                <form action="/tschedule/editsaveshowdetails" method="post">
                   <div class="row">
                      <div class="col" style="display: flex;flex-direction: column;">
                         <p style="margin-bottom: 0.25rem;">Select screen</p>
                         <select name="editselectscreen" id="editselectscreen">
                           <%if(screeninfoarr.length==0){%>
                            <option value="No Screens Present">No Screens Present</option>
                           <%} else{%>
                            <%for(let i=0;i<screeninfoarr.length;i++){%>
                              <option value="<%=screeninfoarr[i]['screenname']%>"><%=screeninfoarr[i]['screenname']%></option>
                             <%}%>
                           <%}%>
                        </select>
                      </div>
        
                      <div class="col" style="display: flex;flex-direction: column;">
                        <p style="margin-bottom: 0.25rem;">Movie</p>
                        <select name="editselectmovie" class="editselectmovie">
                          <%if(curractivemoviesinfo.length==0){%>
                            <option value="No Active Movies">No Active Movies</option>
                           <%} else{%>
                            <%for(let i=0;i<curractivemoviesinfo.length;i++){%>
                              <option value="<%=curractivemoviesinfo[i]['MovieName']%>"><%=curractivemoviesinfo[i]['MovieName']%></option>
                             <%}%>
                           <%}%>
                        </select>
                      </div>
                   </div>
        
                   <div class="row" style="margin-top: 2rem;">
                    <div class="col" style="display: flex;flex-direction: column;">
                        <p style="margin-bottom: 0.25rem;">Duration</p>
                        <input type="text" class="editduration" name="editduration" required/>           
                    </div>
        
                    <div class="col" style="display: flex;flex-direction: column;">
                        <p style="margin-bottom: 0.25rem;">Show time</p>
                         <div class="st" style="display: flex;">
                          <input type="text" class="editshowtime" name="editshowtime" required/>
                          <select name="editampm" id="editampm">
                            <option value="AM">AM</option>
                            <option value="PM">PM</option>
                          </select>
                         </div>
                    </div>
                 </div>

                 <div class="row" style="margin-top: 2rem;">
                  <div class="col price" style="display: flex;flex-direction: column;">
                      <p style="margin-bottom: 0.25rem;">Premium Class Price</p>
                      <input type="text" class="editpremiumclassprice" name="editpremiumclassprice" required />
                     
                  </div>
      
                  <div class="col price" style="display: flex;flex-direction: column;">
                      <p style="margin-bottom: 0.25rem;">Normal Class Price</p>
                      <input type="text" class="editnormalclassprice" name="editnormalclassprice" required/>
                  </div>

                 <div class="col fdate" style="display: flex;flex-direction: column;">
                    <p style="margin-bottom: 0.25rem;">From Date</p>
                    <input type="date" class="editfromdate" name="editfromdate" required/>
                </div>

               </div>

               <div class="row" style="margin-top: 2rem;">
                <div class="col tdate" style="display: flex;flex-direction: column;">
                    <p style="margin-bottom: 0.25rem;">To Date</p>
                    <input type="date" class="edittodate" name="edittodate" required/>
                </div>

            <!--<div class="col" style="display: flex;flex-direction: column;">
                <p style="margin-bottom: 0.25rem;">Status</p>
                <select name="editstatus" class="editstatus">
                  <option value="Active">Active</option>
                  <option value="InActive">InActive</option>
                </select>
            </div> -->

             </div>

             <div style="display: flex;justify-content: center;">
              <button type="submit" class="btn btn-success editsavebtn" data-bs-toggle="modal" style="margin-top:1rem">
              Save
              </button>
            </div>      
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>








  <div class="modal fade" id="addscreen" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #221f1f;">
          <h5 class="modal-title" id="exampleModalToggleLabel" style="color: gold;">Add Screen</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color: gold;"><i class="fa-solid fa-xmark fa-2xl closebtn"></i></button>
        </div>
        <div class="modal-body">
            <div class="addscreenform">
                <form>
                   <div class="row">
                      <div class="col" style="display: flex;flex-direction: column;">
                         <p>Screen Name</p>
                         <input type="text" class="screenname" name="screenname" required/>
                      </div>
        
                      <div class="col" style="display: flex;flex-direction: column;">
                        <p>Screen Capacity</p>
                        <input type="text" class="screencapacity" name="screencapacity" required/>
                      </div>
                   </div>
        
                   <div class="row" style="margin-top: 2rem;">
                    <div class="col" style="display: flex;flex-direction: column;">
                        <p>No. of Rows</p>
                        <input type="text" class="numrows" name="numrows" required/>
                       
                    </div>
        
                    <div class="col" style="display: flex;flex-direction: column;">
                        <p>No. of Colomns</p>
                        <input type="text" class="numcols" name="numcols" required/>
                    </div>
                 </div>
        
                  <div style="display: flex;justify-content: center;">
                    <button type="button" class="btn btn-success nextbtn" data-bs-toggle="modal" data-bs-target="#seatarrangement" style="margin-top:1rem">
                      Next
                    </button>
                  </div>
        
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="seatarrangement" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #221f1f;">
          <h5 class="modal-title" id="exampleModalToggleLabel2" style="color: gold;">Seat Arrangement</h5>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color: gold;"><i class="fa-solid fa-xmark fa-2xl closebtn"></i></button> -->
        </div>
        <div class="modal-body">
          
          <div class="seatoptions" style="display: flex;justify-content: space-evenly;">
            <div class="radiobtn">
              <input type="checkbox" name="premiumclass" value="Premium Class" class="pc"><span>Premium Class</span> 
            </div>

            <div class="radiobtn">
              <input type="checkbox" name="disabledclass" value="Disabled Class" class="dc"><span>Disabled Class</span> 
            </div>

            <div class="radiobtn">
              <input type="checkbox" name="emptyspace" value="Empty Space" class="es"><span>Empty Space</span> 
            </div>
          </div>
          
          <div class="mainarrangement">
                     
          </div>

            <div class="screenview" style="background-color: antiquewhite;">
              <div class="eyesthisway" style="background-color: black;">
                <hr>
            </div>
            <p style="display: flex;justify-content: center;">------All Eyes This Way------</p>
            </div>

            <div class="submitbtn" style="display: flex;justify-content: center;margin-bottom: 1rem;">
              <button type="button" class="btn btn-primary" style="width:6rem;">Submit</button>
             </div>
        </div>

        
        <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div> -->
      </div>
    </div>
  </div>


  <div class="modal fade" id="editscreen" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #221f1f;">
          <h5 class="modal-title" id="exampleModalToggleLabel" style="color: gold;">Add Screen</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color: gold;"><i class="fa-solid fa-xmark fa-2xl closebtn"></i></button>
        </div>
        <div class="modal-body">
            <div class="addscreenform editscreenform">
                <form>
                   <div class="row">
                      <div class="col" style="display: flex;flex-direction: column;">
                         <p>Screen Name</p>
                         <input type="text" class="escreenname" name="screenname" required/>
                      </div>
        
                      <div class="col" style="display: flex;flex-direction: column;">
                        <p>Screen Capacity</p>
                        <input type="text" class="escreencapacity" name="screencapacity" required/>
                      </div>
                   </div>
        
                   <div class="row" style="margin-top: 2rem;">
                    <div class="col" style="display: flex;flex-direction: column;">
                        <p>No. of Rows</p>
                        <input type="text" class="enumrows" name="enumrows" required/>
                       
                    </div>
        
                    <div class="col" style="display: flex;flex-direction: column;">
                        <p>No. of Colomns</p>
                        <input type="text" class="enumcols" name="enumcols" required/>
                    </div>
                 </div>
        
                  <div style="display: flex;justify-content: center;">
                    <button type="button" class="btn btn-success editnextbtn" data-bs-toggle="modal" data-bs-target="#editseatarrangement" style="margin-top:1rem">
                      Next
                    </button>
                  </div>
        
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="editseatarrangement" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #221f1f;">
          <h5 class="modal-title" id="exampleModalToggleLabel2" style="color: gold;">Seat Arrangement</h5>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color: gold;"><i class="fa-solid fa-xmark fa-2xl closebtn"></i></button> -->
        </div>
        <div class="modal-body">
          
          <div class="seatoptions" style="display: flex;justify-content: space-evenly;">
            <div class="radiobtn">
              <input type="checkbox" name="premiumclass" value="Premium Class" class="epc"><span>Premium Class</span> 
            </div>

            <div class="radiobtn">
              <input type="checkbox" name="disabledclass" value="Disabled Class" class="edc"><span>Disabled Class</span> 
            </div>

            <div class="radiobtn">
              <input type="checkbox" name="emptyspace" value="Empty Space" class="ees"><span>Empty Space</span> 
            </div>
          </div>
          
          <div class="editmainarrangement">
                     
          </div>

            <div class="screenview" style="background-color: antiquewhite;">
              <div class="eyesthisway" style="background-color: black;">
                <hr>
            </div>
            <p style="display: flex;justify-content: center;">------All Eyes This Way------</p>
            </div>

            <div class="submitbtn" style="display: flex;justify-content: center;margin-bottom: 1rem;">
              <button type="button" class="btn btn-primary SAsavebtn" style="width:6rem;">Save</button>
             </div>
        </div>

      </div>
    </div>
  </div>
  


<div class="screens">
    <div class="heading">
        <h4>Main Screens</h4>
        <div class="addedit">
            <button type="button" class="btn btn-success addscreenbtn" data-bs-toggle="modal" data-bs-target="#addscreen">
                Add
            </button>
        </div>
    </div>

   <div class="container" style="margin-top:2rem;margin-left: 18.5rem;">
      <div class="screentable">  
                <% if(screeninfoarr.length==0){%>
                  <p style="color: gold;font-size: 2rem;">OOPS...No Screens In Your Theatre</p>     
                  <%} else{%>
                    <table>
                    <thead>
                      <tr class="headingrow">
                        <th>#</th>
                        <th>Screen Name</th>
                        <th>Screen Capacity</th>
                        <th>Seating Arrangement</th>
                        <th>Remove Screen</th>
                      </tr>
                    </thead>
                    <tbody>
                      <%for(let i=0;i<screeninfoarr.length;i++){ %>
                        <tr>
                          <td><%=i+1%></td>
                          <td><%=screeninfoarr[i]['screenname']%></td>
                          <td><%=screeninfoarr[i]['screencapacity']%></td>
                          <td>
                          <button type="button" class="btn btn-primary arrangementeditbtn" data-bs-toggle="modal" data-bs-target="#editscreen">
                             Edit
                          </button>
                          </td>
                          <td>
                            <button type="button" class="btn btn-primary removebtn">
                              Remove
                           </button>
                          </td>
                        </tr>
                        <%}%>
                    </tbody>
                  </table>  
                    <%}%>
                 
            </div>      
    </div>
</div>

  <div class="horzantaline" style="height:0.01rem;background-color: white;width:80%;margin-left:9rem;margin-top:3rem;">
  </div>

   <h2 class="schedulingheading">SCREEN SCHEDULING</h2>
   <div class="movieshowscheduling">
    <div class="heading">
      <h4>Movie Shows</h4>
      <div class="addedit">
          <button type="button" class="btn btn-success addshow" data-bs-toggle="modal" data-bs-target="#addshow">
              Add
          </button>
      </div>
    </div>

     
     <div class="showstable" style="margin-top:2rem;margin-left: 8rem;">
      <div class="showsdatatable">  
        <% if(movieshowdetails.length==0){%>
          <p style="color: gold;font-size: 2rem;">OOPS...No Shows Scheduled!!!</p>     
        <%} else{%>

          <table>
            <thead>
              <tr class="headingrow">
                <th>#</th>
                <th>Show Time</th>
                <th>Duration</th>
                <th>Screen Name</th>
                <th>Movie Name</th>
                <th>Show From Date</th>
                <th>Show To Date</th>
              </tr>
            </thead>
             <tbody>
          <% for(let i=0;i<movieshowdetails.length;i++){%>    
             
                <tr>
                  <td><%=i+1%></td>
                  <td><%=movieshowdetails[i]["showtime"]%> <%=movieshowdetails[i]["ampm"]%></td>
                  <td><%=movieshowdetails[i]["duration"]%></td>
                  <td><%=movieshowdetails[i]["screenname"]%></td>
                  <td><%=movieshowdetails[i]["MovieName"]%></td>
                  <td><%=movieshowdetails[i]["fromdate"]%></td>
                  <td><%=movieshowdetails[i]["todate"]%></td>
                  <td>
                  <button type="button" class="btn btn-primary showeditbtn" data-bs-toggle="modal" data-bs-target="#editshow">
                     Edit
                  </button>

                  <button type="button" class="btn btn-primary scheduleremovebtn" style="margin-left:1rem;">
                   Remove
                 </button>
                  </td>
                </tr>     
        <%}}%>
      </tbody>
      </table>       
      </div>
     </div>
  </div>
  

<script src="/js/theatredashboard/seatmanagement.js"></script>
<script src="/js/theatredashboard/screenscheduling.js"></script>

</body>
</html>